@using MVCLibraryManagementSystem.Models;
@using MVCLibraryManagementSystem.ViewModels;
@model Author

<br />

<h3>Kitap Detayı</h3>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Model.FullName</h4>
        <p class="card-text"><strong>Doğum Tarihi:</strong> @Model.DateofBirth</p>
    </div>
</div>